[
    {kernel, [
        {error_logger, {file, "logs/eunit_kernel.log"}}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "logs/eunit_sasl.log"}}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [
                {file, "logs/eunit_lager.log"},
                {level, debug},
                {formatter, lager_default_formatter}
            ]}
        ]},
        {error_logger_redirect, true},
        {crash_log, "logs/crash.log"}
    ]},
    {mnesia, [
        % {dir, "temp/mnesia"}    -- See Makefile for rtest.
    ]},
    {yaws, [
        {conf, "test/yaws.conf"}
    ]},
    {alkani, [
    ]}
].


