.eunit/
.rebar/
.ditz-config
.directory
.kateproject
.kateproject.d/
ebin/
logs/
deps/
temp/
log/
doc/edoc-info
doc/erlang.png
doc/stylesheet.css
doc/utf8/
*.swp
*.beam
*~
*.kate-swp
*.log
*.pid
ttb_last_config
erl_crash.dump
rel/alkani/
