{erl_opts, [debug_info]}.
{deps, [
    %%
    %%  Transitive deps.
    %%
    {goldrush,    ".*", {git, "git://github.com/DeadZen/goldrush.git",                   {tag, "0.1.7"}}},
    {gen_leader,  ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git",  {tag, "a12a4e3b3f"}}},
    %%
    %%  Direct dependencies.
    %%
    {gproc,            ".*", {git, "https://github.com/uwiger/gproc.git",                {tag, "0.5"}}},
    {lager,            ".*", {git, "https://github.com/basho/lager.git",                 {tag, "3.0.2"}}},
    {yaws,             ".*", {git, "https://github.com/klacke/yaws.git",                 {tag, "yaws-2.0.2"}}},
    {jiffy,            ".*", {git, "https://github.com/davisp/jiffy.git",                {tag, "0.14.8"}}},
    {sighandler,       ".*", {git, "https://github.com/jkingsbery/sighandler.git",       {tag, "0.2"}}},
    %%
    %%  Deps for tests.
    %%
    {meck,             ".*", {git, "https://github.com/eproxus/meck.git",                {tag, "0.8.3"}}},
    {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {tag, "d4cc6e4e7d"}}},
    {sync,             ".*", {git, "https://github.com/rustyio/sync.git",                {tag, "ae7dbd4e6e"}}},
    {edown,            ".*", {git, "https://github.com/uwiger/edown.git",                {tag, "b7c8eb0ac1"}}}
]}.
{ct_dir, "itest"}.
{eunit_opts, [no_tty, {report, {eunit_progress, [colored]}}]}.
{post_hooks, [
    {'get-deps', "make -C priv/www deps"},
    {compile, "make -C priv/www compile"},
    {compile, "sed \"s/{git,/{\\\"`git describe --always --tags`\\\",/\" src/alkani.appup.src > ebin/alkani.appup"}
]}.
